html {
    font-family: Consolas, serif;
    color: lightgray;
    background-color: #121212;
}

.centered {
    width: 90%;
    max-width: 500px;
    margin: 1em auto;
}

.container {
    background-color: #212121;
    padding: 1em;
    border-radius: 10px;
}

table {
    width: 90%;
    margin: 0 auto;
}

tr {
    padding: 1em;
    margin: 2em;
}

th {
    font-size: 1.2em;
}

th,
td {
    text-align: left;
}

.status {
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}
