html {
    background-color: #121212;
    color: lightgray;
    font-family: Consolas, serif;
}

.centered {
    margin: 1em auto;
    max-width: 500px;
    width: 90%;
}

.container {
    background-color: #212121;
    border-radius: 1em;
    padding: 1em;
}

table {
    margin: 0 auto;
    width: 90%;
}

th {
    font-size: 1.2rem;
    padding-bottom: 0.5em;
}

th,
td {
    text-align: left;
}

.status {
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}

.loader {
    border: 1em solid #212121;
    border-top: 1em solid #3498db;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 1s ease-in-out infinite;
    margin: 5em auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
